@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 340 15% 99%;
    --foreground: 340 12% 9%;
    --card: 340 15% 99%;
    --card-foreground: 340 12% 9%;
    --popover: 340 15% 99%;
    --popover-foreground: 340 12% 9%;
    --primary: 340 48% 38%;
    --primary-foreground: 0 0% 98%;
    --secondary: 340 14% 95%;
    --secondary-foreground: 340 12% 12%;
    --muted: 340 14% 95%;
    --muted-foreground: 340 8% 42%;
    --accent: 340 48% 94%;
    --accent-foreground: 340 48% 24%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 340 14% 89%;
    --input: 340 14% 89%;
    --ring: 340 48% 38%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
