@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 15% 99%;
    --foreground: 240 12% 9%;
    --card: 240 15% 99%;
    --card-foreground: 240 12% 9%;
    --popover: 240 15% 99%;
    --popover-foreground: 240 12% 9%;
    --primary: 240 6% 38%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 14% 95%;
    --secondary-foreground: 240 12% 12%;
    --muted: 240 14% 95%;
    --muted-foreground: 240 8% 42%;
    --accent: 240 6% 94%;
    --accent-foreground: 240 6% 24%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 14% 89%;
    --input: 240 14% 89%;
    --ring: 240 6% 38%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
